<div class="book-summary">
    <script type="text/javascript">
        // Fixes the page links scroll problem on both desktop and mobile browsers
        function pageScrollToTop(element) {
            // both mobile and non-mobile
            $('div.body-inner').animate({scrollTop: 0});
            $(element).parent().find('li>ul>li').removeClass('active');
            return true;  // propagate
        }
        // Fixes the anchor links scroll problem on mobile browsers
        function mobilePageScrollToAnchor(element) {
            $(element).closest('li.chapter').find('ul>li').removeClass('active');
            $(element).parent().addClass('active');
            if ($(document).width() <= 1240) {
                $('div.body-inner').animate({scrollTop: $($(element).attr('href')).get(0).offsetTop});
            }
            return true;
        }
    </script>

    <nav role="navigation">
        <div id="book-search-input" role="search">
            <input type="text" placeholder="Search the manual" aria-label="Search the manual" />
        </div>
        <div id="book-search-input-link" role="search">
            <a href="{{site.baseurl}}/assets/search.html">Click to Search</a>
        </div>
        <ul class="summary">
            {% if page.url == "/index.html" or page.url == "/" %}
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
            {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
            {% endif %}
                <a href="{{site.baseurl}}/" onclick="pageScrollToTop(this)">
                    {{ site.title | escape }}
                </a>
            </li>

            <li class="divider"></li>

            {% for collection in site.collections %}
                <!-- <p>{{ collection.label }}</p> -->
                {% if collection.output %}
                    {% if collection.label == "posts" %}
                        {% assign reversed_posts = site[collection.label] | reverse %}
                    {% else %}
                        {% assign reversed_posts = site[collection.label] | where: "layout", "post" | sort: "nav_order" %}
                    {% endif %}

                    {% for post in reversed_posts %}
                        {% unless post.nav_parent %}
                            {% assign child_pages = reversed_posts | where: "nav_parent", post.title %}
                            {% assign has_active_child = false %}
                            {% for child_page in child_pages %}
                                {% if page.url == child_page.url %}
                                    {% assign has_active_child = true %}
                                {% endif %}
                            {% endfor %}

                            {% if page.url == post.url %}
                            <li class="chapter active expanded" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                            {% elsif has_active_child %}
                            <li class="chapter expanded" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                            {% else %}
                            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                            {% endif %}
                                <a href="{{site.baseurl}}{{post.url}}" onclick="pageScrollToTop(this)">
                                    {{ post.title | escape }}
                                </a>

                                {% assign bottom_child_pages = child_pages | where: "nav_position", "bottom" %}
                                {% if child_pages.size > 0 or post.nav_sections %}
                                <ul class="articles os-nav-children{% if post.nav_sections %} os-nav-sections{% endif %}">
                                    {% for child_page in child_pages %}
                                        {% unless child_page.nav_position == "bottom" %}
                                            {% if page.url == child_page.url %}
                                            <li class="chapter active expanded" data-level="2.1" data-path="{{site.baseurl}}{{child_page.url}}">
                                            {% else %}
                                            <li class="chapter" data-level="2.1" data-path="{{site.baseurl}}{{child_page.url}}">
                                            {% endif %}
                                                <a href="{{site.baseurl}}{{child_page.url}}" onclick="pageScrollToTop(this)">
                                                    {{ child_page.title | escape }}
                                                </a>
                                                {% if site.toc.enabled and page.url == child_page.url %}
                                                    {% assign toc_h_min = page.toc_h_min | default: site.toc.h_min %}
                                                    {% assign toc_h_max = page.toc_h_max | default: site.toc.h_max %}
                                                    {% include toc.html html=content h_min=toc_h_min h_max=toc_h_max %}
                                                {% endif %}
                                            </li>
                                        {% endunless %}
                                    {% endfor %}
                                    {% if post.nav_sections %}
                                        {% for nav_section in post.nav_sections %}
                                        <li>
                                            <a href="{{site.baseurl}}{{post.url}}#{{ nav_section.anchor | escape }}">
                                                {{ nav_section.title | escape }}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    {% endif %}
                                    {% for child_page in bottom_child_pages %}
                                        {% if page.url == child_page.url %}
                                        <li class="chapter active expanded" data-level="2.1" data-path="{{site.baseurl}}{{child_page.url}}">
                                        {% else %}
                                        <li class="chapter" data-level="2.1" data-path="{{site.baseurl}}{{child_page.url}}">
                                        {% endif %}
                                            <a href="{{site.baseurl}}{{child_page.url}}" onclick="pageScrollToTop(this)">
                                                {{ child_page.title | escape }}
                                            </a>
                                            {% if site.toc.enabled and page.url == child_page.url %}
                                                {% assign toc_h_min = page.toc_h_min | default: site.toc.h_min %}
                                                {% assign toc_h_max = page.toc_h_max | default: site.toc.h_max %}
                                                {% include toc.html html=content h_min=toc_h_min h_max=toc_h_max %}
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}

                                {% unless post.nav_sections %}
                                    {% if site.toc.enabled and page.url == post.url %}
                                        {% assign toc_h_min = page.toc_h_min | default: site.toc.h_min %}
                                        {% assign toc_h_max = page.toc_h_max | default: site.toc.h_max %}
                                        {% include toc.html html=content h_min=toc_h_min h_max=toc_h_max %}
                                    {% endif %}
                                {% endunless %}
                            </li>
                        {% endunless %}
                    {% endfor %}

                    {% if reversed_posts.size > 0 %}
                        <li class="divider"></li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            <li class="os-manual-meta">
                <span>Manual v{{ site.version | escape }}</span>
                <span>Updated {{ site.time | date: "%-d %B %Y" }}</span>
            </li>
        </ul>
    </nav>
</div>
