<a href="#" class="js-toolbar-action search-toggle">
  Click to Search
</a>

<ul class="summary">
  {% if page.url == "/index.html" or page.url == "/" %}
    <li class="chapter active">
  {% else %}
    <li class="chapter">
  {% endif %}
      <a href="{{ site.baseurl }}/">{{ site.title | escape }}</a>
    </li>

  {% assign workflow_parent_url = "/pages/Tutorials/Workflow/" %}
  {% assign workflow_child_prefix = "/pages/Tutorials/Workflow/" %}

  {% for collection in site.collections %}
    {% if collection.output %}
      {% if collection.label == "posts" %}
        {% assign docs = site[collection.label] | reverse %}
      {% else %}
        {% assign docs = site[collection.label] %}
      {% endif %}

      {% for post in docs %}

        {% assign is_workflow_child = false %}
        {% if post.url contains "/pages/Tutorials/Workflow/" and post.url != workflow_parent_url %}
          {% assign is_workflow_child = true %}
        {% endif %}

        {% unless is_workflow_child %}

          {% if post.url == workflow_parent_url %}

            {% if page.url == post.url or page.url contains "/pages/Tutorials/Workflow/" %}
              <li class="chapter active">
            {% else %}
              <li class="chapter">
            {% endif %}

              <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | escape }}</a>

              <ul class="articles">
                {% for child in docs %}
                  {% if child.url contains "/pages/Tutorials/Workflow/" and child.url != workflow_parent_url %}
                    {% if page.url == child.url %}
                      <li class="chapter active">
                    {% else %}
                      <li class="chapter">
                    {% endif %}
                        <a href="{{ site.baseurl }}{{ child.url }}">{{ child.title | escape }}</a>

                        {% if site.toc.enabled %}
                          {% if page.url == child.url %}
                            {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                          {% endif %}
                        {% endif %}
                      </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>

          {% else %}

            {% if page.url == post.url %}
              <li class="chapter active">
            {% else %}
              <li class="chapter">
            {% endif %}

              <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | escape }}</a>

              {% if site.toc.enabled %}
                {% if page.url == post.url %}
                  {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                {% endif %}
              {% endif %}
            </li>

          {% endif %}

        {% endunless %}

      {% endfor %}
    {% endif %}
  {% endfor %}
</ul>