<div class="os-tutorials-start" markdown="1">

**Exercise folder:** `Files for users/{{ page.exercise_folder }}` in the [tutorial models ZIP]({{ '/assets/tutorials/workshop/tutorial-models.zip' | relative_url }}).

Before starting, complete the [account setup]({{ '/pages/tutorials/#before-you-begin' | relative_url }}). Follow the steps below online; the [workbook PDF]({{ '/assets/tutorials/workshop/Workshop_Instructions_EN.pdf' | relative_url }}) is available for printing or offline use. This case corresponds to workbook pages {{ page.workbook_pages }}.

</div>
