<div class="os-tutorials-start" markdown="1">

**Exercise folder:** `Files for users/{{ page.exercise_folder }}` in the <a href="{{ '/assets/tutorials/workshop/tutorial-models.zip' | relative_url }}" target="_self" download="tutorial-models.zip">tutorial models ZIP</a>.

Before starting, complete the [account setup]({{ '/pages/tutorials/#before-you-begin' | relative_url }}). Follow the steps below online; the <a href="{{ '/assets/tutorials/workshop/Workshop_Instructions_EN.pdf' | relative_url }}" target="_self" download="Workshop_Instructions_EN.pdf">workbook PDF</a> is available for printing or offline use. This case corresponds to workbook pages {{ page.workbook_pages }}.

</div>
