<!DOCTYPE HTML>
<html lang="en" >
    <head>

        {%- include head.html -%}

        {% assign os_navigation_pages = "" | split: "" %}
        {% for os_collection in site.collections %}
            {% if os_collection.label == "pages" %}
                {% assign os_navigation_pages = site[os_collection.label] | where: "layout", "post" | sort: "nav_order" %}
            {% endif %}
        {% endfor %}

        {% if os_navigation_pages.size > 0 %}
            <link rel="next" href="{{site.baseurl}}{{os_navigation_pages.first.url}}" />
        {% endif %}
    </head>
    <body>
        <div class="book">

            {%- include toc-date.html -%}

            <div class="book-body">
                <div class="book-header" role="navigation">
                    <!-- Title -->
                    <h1>
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                        {% if page.title %}
                            <a href="." >{{ page.title | escape }}</a>
                        {% else %}
                            <a href="." >{{ site.title | escape }}</a>
                        {% endif %}
                    </h1>
                </div>

                <div class="body-inner">
                    {%- include body.html -%}

                    <a href="{{site.baseurl}}/" class="navigation navigation-pre navigation-unique">
                        <i class="fa"></i>
                    </a>

                    {% if os_navigation_pages.size > 0 %}
                        <a href="{{site.baseurl}}{{os_navigation_pages.first.url}}" class="navigation navigation-next navigation-unique" aria-label="Next page: {{os_navigation_pages.first.title}}">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    {% endif %}
                </div>
            </div>

            <script>
            var gitbook = gitbook || [];
            gitbook.push(function() {
                gitbook.page.hasChanged({%- include metadata-home.json.tpl -%});
            });
            </script>
        </div>

        {%- include footer.html -%}

    </body>
</html>
