<!DOCTYPE HTML>
<html lang="en" >
    <head>

        {%- include head.html -%}

        {% assign os_navigation_pages = "" | split: "" %}
        {% for os_collection in site.collections %}
            {% if os_collection.label == "pages" %}
                {% assign os_navigation_pages = site[os_collection.label] | where: "layout", "post" | sort: "nav_order" %}
            {% endif %}
        {% endfor %}
        {% assign os_previous_page = nil %}
        {% assign os_next_page = nil %}
        {% for os_navigation_page in os_navigation_pages %}
            {% if os_navigation_page.url == page.url %}
                {% unless forloop.first %}
                    {% assign os_previous_index = forloop.index0 | minus: 1 %}
                    {% assign os_previous_page = os_navigation_pages[os_previous_index] %}
                {% endunless %}
                {% unless forloop.last %}
                    {% assign os_next_index = forloop.index0 | plus: 1 %}
                    {% assign os_next_page = os_navigation_pages[os_next_index] %}
                {% endunless %}
            {% endif %}
        {% endfor %}

        {% if os_previous_page %}
            <link rel="prev" href="{{site.baseurl}}{{os_previous_page.url}}" />
        {% else %}
            <link rel="prev" href="{{site.baseurl}}/" />
        {% endif %}

        {% if os_next_page %}
            <link rel="next" href="{{site.baseurl}}{{os_next_page.url}}" />
        {% endif %}
    </head>
    <body>
        <div class="book">

            {%- include toc-date.html -%}

            <div class="book-body">
                <div class="book-header" role="navigation">
                    <!-- Title -->
                    <h1>
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                        {% if page.title %}
                            <a href="." >{{ page.title | escape }}</a>
                        {% else %}
                            <a href="." >{{ site.title | escape }}</a>
                        {% endif %}
                    </h1>
                </div>

                <div class="body-inner">
                    {%- include body.html -%}

                    {% if os_previous_page %}
                        <a href="{{site.baseurl}}{{os_previous_page.url}}" class="navigation navigation-prev navigation-unique" aria-label="Previous page: {{os_previous_page.title}}">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    {% else %}
                        <a href="{{site.baseurl}}/" class="navigation navigation-prev navigation-unique" aria-label="Previous page: {{site.title}}">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    {% endif %}

                    {% if os_next_page %}
                        <a href="{{site.baseurl}}{{os_next_page.url}}" class="navigation navigation-next navigation-unique" aria-label="Next page: {{os_next_page.title}}">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    {% endif %}
                </div>
            </div>

            <script>
            var gitbook = gitbook || [];
            gitbook.push(function() {
                gitbook.page.hasChanged({%- include metadata-post.json.tpl -%});
            });
            </script>
        </div>

        {%- include footer.html -%}

    </body>
</html>
